.debug{
  padding: 10px;
}

.noSelect{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently  not supported by any browser */
}

.DragMeDropMe{
  display: flex;
  position: absolute;


  & .onCapture{
    z-index: 2;
  }

  & .table{
    background: #2196F3;
    overflow-x: hidden;
    -ms-overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-y:auto;

    position: relative;
    width: 100%;
    height: 100%;

    & .info{
      position: absolute;
      z-index: 1;
    }

  }

  & .item{
    position: absolute;
    overflow-x: hidden;
    -ms-overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-y: auto;

    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    line-break: auto;
    -webkit-hyphens: auto;
    ​-ms-hyphens: auto;
    hyphens: auto;

    width: 150px;
    min-height: 50px;

  }

}